﻿<Navbar Background="NavbarBackground.Dark" Direction="NavbarDirection.Vertical">

    <a href="https://github.com/linq2graphql/linq2graphql.client" class="navbar-brand navbar-brand-autodark">
       
        <h2 class="text-secondary">Linq2GraphQL</h2>
    </a>

    <NavbarMenu>
        <NavbarMenuItem Href="" Text="Home">
            <MenuItemIcon>
                <Icon class="icon" IconType="@Icons.Home" />
            </MenuItemIcon>
        </NavbarMenuItem>

        <NavbarMenuItem Href="generate-client" Text="Generate Client">
            <MenuItemIcon>
                <Icon class="icon" IconType="@Icons.Adjustments_code" />
            </MenuItemIcon>
        </NavbarMenuItem>

        <NavbarMenuItem Href="samples" Text="Samples">
            <MenuItemIcon>
                <Icon class="icon" IconType="@Icons.Eye_exclamation" />
            </MenuItemIcon>
        </NavbarMenuItem>

     </NavbarMenu>
     </Navbar>