﻿<Navbar Background="NavbarBackground.Dark" Direction="NavbarDirection.Vertical">

    <a href="https://github.com/joadan/Blazor-Tabler" class="navbar-brand navbar-brand-autodark">
       
        <h2 class="text-secondary">Linq2GraphQL</h2>
    </a>

    <NavbarMenu>
        <NavbarMenuItem Href="\" Text="Home">
            <MenuItemIcon>
                <Icon class="icon" IconType="@Icons._123" />
            </MenuItemIcon>
        </NavbarMenuItem>

     </NavbarMenu>
     </Navbar>